

body {
  font-family: 'Times New Roman', Times, sans-serif;
  background-color: #f4f4f4;
}

a {
  color: #333;
  text-decoration: none;
}


.image .content {
  border-radius: 25px;
  position: absolute;
  bottom:0;
  top:0;
  left:0;
  float:left;
  margin-top:76px;
  
  background: rgb(49, 46, 46); /* Fallback color */
  background: rgba(32, 36, 39, 0.7); /* Black background with 0.5 opacity */
  color:white;
  width: 30%;
  
  padding: 20px;
  line-height: 1.6em;
}

h1{
  font-size:"30%";
  line-height:1.6em;
}
p{
  font-size:"20%"
}
.b {
  position:absolute;
  bottom: 0;
  left:0;
}
.login2 .content {
  border-radius: 6px;
  position: absolute;
  bottom:0;
  top:0;
  right:0;
  float:left;
  margin-top:7%;
  margin-right:19%;
  margin-left:10%;
  margin-bottom: 0%;
  background:rgb(255, 255, 255);
  background: rgba(255,255,255, 1); /* Black background with 0.5 opacity */
  color:Black;
  width: 65%;
  height:72%;
  padding: 20px;
  line-height: 1.6em;
}
.login2 .innerbox {
  position: absolute;
  bottom:0;
  top:0;
  right:0;
  float:left;
  margin-top:9%;
  margin-right:50%;
  margin-left:10%;
  
  line-height:1.6em;

}
.login2 .innerbox2 {
  position: absolute;
  bottom:0;
  top:0;
  right:0;
  float:right;
  margin-top : 0%;
  margin-right:0%;
  margin-left:65%;
  
  width:50%;
}
.login2 .innerbox2 img{
  width:100%;
  height:100%
}

.getstarted {
  position: absolute;
  bottom:0;
  top:0;
  right:0;
  border-right: "100px";
  float:left;
  margin-top:200px;
  font-size: larger;
  font-family: 'Courier New', Courier, monospace;
  background: rgba(48, 72, 94, 0); /* Black background with 0.5 opacity */
  color:white;
  width: 30%;
  line-height: 1.6em;

}
.getstarted .line1 {
  font-family: sans-serif;
  font-size: "300%";
  font-weight: bolder;
  
}
.getstarted .line3 {
  font-family: sans-serif;
  font-size: "300%";
  border-right: "150px";
  font-weight: bolder;
}
.getstarted .line4 {
  font-family: sans-serif;
  font-size: "300%";
  font-weight: bolder;
}
.getstarted .line5 {
  font-family: sans-serif;
  font-size: "300%";
  border-right: "150px";
  font-weight: bolder;
}
.Form {
  line-height: 1.6em;
  padding-inline-start: 1.6em;
  padding-left: 5%;
  padding-right: 15%;

  padding-bottom: 14%;
}
.Form .Loginpassword {
  margin-top: 10%;
}
.Form .forgpass {
  margin-top: 7%;
  margin-right: 45%;
}
.Form .LoginButton {
  margin-top: 15%;
  margin-left: 27%;
}
.Form1 .Loginemail{
  margin-top:5% ;

}
.Form1 .Loginpassword {
  margin-top:5%
}
.Form1 {
  line-height: 1.6em;
  padding-inline-start: 1.6em;
  padding-left: 22%;
  padding-right: 15%;
  padding-bottom: 22%;
}
.Form1 .RegisterButton {
  margin-top:18%;
  margin-left:22%
}
.welcome {
  position:absolute;
  top:0;
  bottom:0;
  margin-top:1px;
  
  font-size:150%;
  background:rgb(189, 185, 185) ;
  background: rgba(206, 208, 211, 0.7);
  height: 100%;
  width: 100%;
}
.welcome .welcome1 {
  margin-top:220px;
  font-size: 450%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-kerning: auto;
  margin-left: 450px;
  animation-iteration-count: 3;
  
}
.Enterbutton {
    
  margin-left: 650px;
  
}
.contact {
  border-radius: 15px;
  position:absolute;
  height:75vh;
  top:0;
  bottom:0;
  margin-top:100px;
  margin-left: 630px;
 
  top: 20;
 
  background:rgb(189, 185, 185) ;
  background: rgba(183, 186, 190, 0.5);
  padding: 35px;
  
  
}
.contact h3{
  text-shadow: 0 2px black, 0 3px #777;
  margin-bottom: 35px;
  font-size: 140%;
  text-align: center;
}
.contact .check{
  
  font-size: 75%;
}
.bullets h2, .Runtime h2{
  border-radius: 2px;
  text-shadow: 0 5px black, 0 3px #777;
	
}
.about h1{
  text-shadow: 0 5px black, 0 3px #777;
}
.Names li{
  margin-left: 50px;
}
.bullets {
  position: absolute;
  top: 200px;
  margin-left: 750px;
  margin-right: 25px;
  list-style-type: square;
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 120%;
  line-height: 1.3em;
 padding: 10px;
  background: rgba(0, 0, 0, 0.3); /* Black background with 0.5 opacity */
  border-radius: 15px; 
  margin-bottom: 50px;
}
.about{
  position: absolute;
  top: 100px;
  margin-left: 650px;
  color: white;
  border-radius: 15px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  /* Fallback color */
  background: rgba(0, 0, 0, 0.3); /* Black background with 0.5 opacity */

}
.Runtime {
  position: absolute;
  top: 200px;
  margin-right: 850px;
  margin-left: 25px;
  list-style-type: square;
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 120%;
  line-height: 1.35em;
 padding: 10px;
  background: rgba(0, 0, 0, 0.3); /* Black background with 0.5 opacity */
  border-radius: 15px; 
  margin-bottom: 50px;

}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-top: 12px;
  font-size: 110%;
  background-color: rgb(33, 43, 58);
  
  color: white;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}
.dashimage {
  background:rgb(18, 46, 68);
  height:100%;
}
.dashimage img {
  width: 57%;
  height: auto;
  margin-left: 22%;
  
}
.dashimage .contain {
  
  border-radius: 5px;
  position: absolute;
  bottom:0;
  top:0;
  right:0;
  left:0;
  float: left;
  margin-top:105px;
  margin-right:480px;
  margin-left:50px;
  margin-bottom: 10px;
  background:rgb(255, 255, 255);
  background: rgba(255, 255, 255, 0.9); /* Black background with 0.5 opacity */
  color:Black;
  width: 22%;
  padding: 20px;
  line-height: 1.6em;
}
.dashimage .contain1 {
  border-radius: 5px;
  position: relative;
  bottom:0;
  top:0;
  right:0;
  left:0;
  float: right;
  margin-top:30px;
  margin-left:40%;
  margin-right:20px;
  margin-bottom: 100px;
  background:rgb(158, 166, 170);
  background: rgba(247, 246, 244, 0.5); /* Black background with 0.5 opacity */
  color:Black;
  width:55%;
  padding: 20px;
  line-height: 1.6em;
  height:100%;
}
.contain img {
  width:40%;
  margin-left:30%

}
.details {
  margin-left:10%;
  line-height:35px;
}
.trainbtn {
  margin-top:5%;
  margin-left:22%
}
.Price{
  position:absolute;
  top:0;
  bottom:0;
  margin-top:100px;
  margin-left: 80px;
  margin-bottom: 80px;
  top: 20;
  border-radius: 15px;
  background:rgb(255, 255, 255) ;
  background: rgba(255, 255, 255, 1);
  padding: 35px;
  color: black;
}
.Price img{
  margin-left: 15%;
}
.image .pricebtn{
  margin-left: 20%;
}
.Resultsbaruthe{
    border-radius: 5px;
    position: absolute;
    bottom:0;
    top:0;
    right:0;
    left:0;
    float: right;
    margin-top:105px;
    margin-left:40%;
    margin-right:20px;
    margin-bottom: 80px;
    background:rgb(158, 166, 170);
    background: rgba(247, 246, 244, 0.5); /* Black background with 0.5 opacity */
    color:Black;
    width:55%;
    padding: 20px;
    line-height: 1.6em;
  

}
.contain1 .mapbtn {
  margin-left: 85%;
  margin-top:49%

}
i {
  color:green;
}
.contain1 img {
  position: absolute;
  background:rgb(158, 166, 170);
  background: rgba(247, 246, 244, 0); 
  margin-left:43%;
  width:10%;
  margin-top:22%
  
}
.error{
  margin-left: 400px;
  margin-top: 0;
}
iframe {
  position: absolute;
  top:11%;
}
.logout .classss{
  border-radius: 5px;
  position: absolute;
  bottom:0;
  top:0;
  right:0;
  left:0;
  float: right;
  margin-top:20%;
  margin-left:60%;
  margin-right:20px;
  margin-bottom: 100px;
  background:rgb(251, 254, 255);
  background: rgba(255, 255, 255, 1); /* Black background with 0.5 opacity */
  color:Black;
  width:30%;
  padding: 20px;
  line-height: 1.6em;
  color:rgb(70, 154, 209)
  
  
}
.logout img {
  
  width:52%
}
.erroro {
  margin-left: 400px;
  margin-bottom: 0;
}
.details .source {
  margin-right: 100px;
}
.details .classes {
  margin-right: 100px;
}
.details .trainbtn{
  margin-bottom:100px;
  margin-left: 10px;
  margin-right: 10px;
}
.details .mapbtn{
  margin-bottom:100px;
  margin-top: 15px;
  margin-left: 0px;
}
.check_pr {
  color: black;
}
.check_line {
  color: black;
  
}
.Price_list{
  margin-bottom:100px;
}